In [1]:
#import libraries
import numpy as np
import pandas as pd
import datetime

# Importing Data

In [2]:
steam_data = pd.read_csv('AllSteamData.csv')
steam_data.head()

             Name         Month  Avg. Players     Gain   % Gain  Peak Players
0  Counter-Strike  Last 30 Days       8488.74     27.6    0.33%         15065
1  Counter-Strike        Sep-21       8461.12  -390.07   -4.41%         14559
2  Counter-Strike        Aug-21       8851.19  -286.57   -3.14%         14064
3  Counter-Strike        Jul-21       9137.76  -359.69   -3.79%         14972
4  Counter-Strike        Jun-21       9497.45  -1243.5  -11.58%         16391

In [3]:
steam_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878175 entries, 0 to 878174
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Name          878175 non-null  object
 1   Month         878175 non-null  object
 2   Avg. Players  878175 non-null  float64
 3   Gain          867341 non-null  object
 4   % Gain        867341 non-null  object
 5   Peak Players  878175 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 40.2+ MB

# Cleaning Dataset

In [4]:
steam_data_clean=steam_data.copy()
steam_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 878175 entries, 0 to 878174
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Name          878175 non-null  object
 1   Month         878175 non-null  object
 2   Avg. Players  878175 non-null  float64
 3   Gain          867341 non-null  object
 4   % Gain        867341 non-null  object
 5   Peak Players  878175 non-null  int64
dtypes: float64(1), int64(1), object(4)
memory usage: 40.2+ MB

In [5]:
#Drop Duplicates
steam_data_clean.drop_duplicates()

#cleaning the % Gain column
steam_data_clean['% Gain'] = steam_data_clean['% Gain'].str.replace("%","")

#filling the NULL values in Gain and % Gain to 0
steam_data_clean.Gain[steam_data_clean.Gain == '-'] = 0
steam_data_clean['% Gain'][steam_data_clean['% Gain'] == 'NaN'] = 0
steam_data_clean['% Gain'][steam_data_clean['% Gain'] == '-'] = 0
steam_data_clean.fillna(value = 0, inplace = True)

#cleaning the Month column
steam_data_clean['Month'] = steam_data_clean['Month'].str.replace("Last 30 Days","Oct-21")
steam_data_clean['Month'] = pd.to_datetime(steam_data_clean['Month'], format='%b-%y')

C:\Users\choww\AppData\Local\Temp/ipykernel_22620/3073407251.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  steam_data_clean.Gain[steam_data_clean.Gain == '-'] = 0
C:\Users\choww\AppData\Local\Temp/ipykernel_22620/3073407251.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  steam_data_clean['% Gain'][steam_data_clean['% Gain'] == 'NaN'] = 0
C:\Users\choww\AppData\Local\Temp/ipykernel_22620/3073407251.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  steam_data_clean['% Gain'][steam_data_clean['% Gain'] == '-'] = 0

In [6]:
steam_data_clean.sample(20)

,Name,Month,Avg. Players,Gain,% Gain,Peak Players
502339,Battle Chasers: Nightwar,2021-09-01,109.15,47.67,77.54,277
832045,Aka Manto | 赤マント,2020-09-01,2.39,-1.3,-35.19,10
700768,A Total War Saga: Thrones of Britannia,2018-01-01,1.89,0.87,84.95,15
85551,Just Cause 2 Demo,2018-12-01,6.74,2.06,43.98,18
816770,Toki,2019-09-01,0.95,0.65,219.00,6
121067,ArcaniA: Fall of Setarrif,2021-06-01,2.05,-0.35,-14.48,7
407617,Bernie Needs Love,2018-01-01,0.15,0.14,2087.50,1
82465,Arma 2: Operation Arrowhead Demo,2013-12-01,38.85,4.32,12.53,96
308479,The Happy Hereafter,2018-12-01,0.61,-0.37,-37.59,4
174853,Football Superstars,2015-06-01,28.76,6.99,32.11,78
822741,Sacred Sword Princesses,2019-12-01,107.93,1.66,1.56,179
78847,Dawn of Discovery,2021-02-01,10.21,0.28,2.79,20
183302,Defiance,2020-07-01,52.56,-12.77,-19.55,90
119813,King's Bounty: Crossworlds,2012-08-01,53.00,9.79,22.66,100
189046,Heroes & Generals,2021-10-01,1644.95,70.6,4.48,3437
205312,Deus Ex: Human Revolution - Director's Cut,2021-04-01,237.02,-19.58,-7.63,496
474924,Hitman GO: Definitive Edition,2016-12-01,20.13,13.03,183.68,139
90885,Jewel Quest Mysteries,2015-04-01,0.84,-0.2,-19.02,4
345202,ONE PIECE PIRATE WARRIORS 3,2017-04-01,203.65,-182.63,-47.28,427
77101,Delta Force: Land Warrior,2016-01-01,1.97,0.12,6.39,11

In [8]:
steam_data_clean.describe()

       Avg. Players  Peak Players
count  8.781750e+05  8.781750e+05
mean   3.298315e+02  6.828038e+02
std    8.601823e+03  1.623968e+04
min    0.000000e+00  0.000000e+00
25%    3.900000e-01  3.000000e+00
50%    2.520000e+00  1.100000e+01
75%    1.752000e+01  5.700000e+01
max    1.584887e+06  3.236027e+06

# Exploring the Dataset

In [7]:
#Top 30 Games by Avg Players
Top_30 = steam_data_clean.sort_values('Avg. Players', ascending=False)

#Only keep the Highest occurence
Top_30.drop_duplicates(subset=['Name'], keep='first').head(30)

,Name,Month,Avg. Players,Gain,% Gain,Peak Players
618079,PUBG: BATTLEGROUNDS,2018-01-01,1584886.77,148728.26,10.36,3236027
3364,Counter-Strike: Global Offensive,2020-04-01,857604.22,186570.94,27.80,1305714
3078,Dota 2,2016-02-01,709178.26,97003.48,15.85,1248394
817899,New World,2021-10-01,461109.04,0,0,913027
824204,Cyberpunk 2077,2020-12-01,332395.65,0,0,830387
413277,Fallout 4,2015-11-01,226297.83,0,0,471955
771929,Valheim,2021-02-01,210302.24,0,0,498478
258827,Grand Theft Auto V,2015-04-01,192714.01,0,0,360761
621248,Monster Hunter: World,2018-08-01,188291.24,0,0,329333
787669,Among Us,2020-10-01,176453.91,25073.63,16.56,372646
839176,Apex Legends,2021-08-01,169528.17,38377.1,29.26,330476
822946,Destiny 2,2019-10-01,165307.82,0,0,292314
228817,Rust,2021-01-01,142117.25,80945.6,132.33,244394
135524,Terraria,2020-05-01,129808.62,78493.53,152.96,486918
825632,Fall Guys: Ultimate Knockout,2020-08-01,124479.35,0,0,172026
387009,Tom Clancy's Rainbow Six Siege,2020-03-01,119877.88,22210.54,22.74,198567
243343,Mount & Blade II: Bannerlord,2020-04-01,113492.99,113492.74,45090359.40,248034
2460,Team Fortress 2,2021-06-01,106222.95,16690.73,18.64,150037
730690,Total War: THREE KINGDOMS,2019-05-01,102719.07,102719.01,162296033.94,191816
366086,ARK: Survival Evolved,2020-03-01,87738.70,34344.52,64.32,157355
482360,Z1 Battle Royale,2017-07-01,86807.87,15553.61,21.83,150179
281338,Sid Meier's Civilization VI,2016-10-01,85934.24,0,0,162314
826582,Football Manager 2020,2020-04-01,81180.41,5158.15,6.79,146436
172812,PAYDAY 2,2017-06-01,80779.88,71820.89,801.66,247628
868548,鬼谷八荒 Tale of Immortal,2021-02-01,77397.64,0,0,183985
192365,Warframe,2018-07-01,76594.91,19971.45,35.27,118191
813956,Dota Underlords,2019-06-01,76388.35,0,0,202254
409376,DARK SOULS™ III,2016-04-01,74266.65,0,0,129831
229499,Rocket League,2020-10-01,72355.61,19247.43,36.24,140667
744674,Sekiro™: Shadows Die Twice,2019-03-01,68631.95,0,0,124334